
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



@import "tailwindcss";

@theme {
    --font-sans: 'Inter', sans-serif;
    --font-serif: 'Cinzel', serif;

    --color-primary: #FF6B6B;
    --color-secondary: #4A90E2;
    --color-accent: #FF6B6B;
    --color-background: #F5F5F5;
    --color-foreground: #333333;
    --color-text: #333333;
    --color-muted: #666666;
    --color-border: #E0E0E0;
   
}